* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  font-size: 18px;
  transition: linear 0.3s;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #380a0a;
  background-image: url(../images/backgroundcoffee.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  height: 80px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.214);
  border-radius: 3px;
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
header .logo {
  font-size: 30px;
  font-weight: bold;
  color: rgb(210, 93, 93);
}
a img {
  width: 50px;
  position: relative;
  right: 100%;
}
.cart {
  display: flex;
  background-color: rgb(243, 243, 243);
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-radius:3px;
  width: 80px;
}
.box {
  background-color: rgba(160, 160, 160, 0.229);
}
.fa-solid {
  color: rgb(131, 39, 27);
}
.cart p {  
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  background-color: rgba(82, 11, 11, 0.73);
  color: rgba(255, 255, 255, 0.508);
}
.container {
  display: flex;
  width: 70%;
  margin-bottom: 30px;
}
#root {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:20px;
}
.sidebar {
  width: 40%;
  border-radius: 5px;
  background-color:rgba(245, 245, 245, 0.18);
  padding: 15px;
  text-align: center;

}
.head {
  background-color: rgba(46, 29, 29, 0.405);
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
}
.foot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid #333;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 15px;
}
.img-box {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}
.bottom {
  margin-top: 20px;
  width: 100px;
  text-align:center;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
h2 {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
button {
  width: 100%;
  height: 40px;
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: rgb(91, 20, 18);
  cursor: pointer;
  color: white;
}
button:hover{
  background-color: #e20d0d6e;
}
.cart-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px;
  background-color: rgba(255, 255, 255, 0.087);
  border-bottom: 1px solid #760a0a;
  border-radius: 2px;
  margin: 20px 10px;
}
.row-img{
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowimg{
  max-width: 100px;
  max-height: 40px;
  border-radius: 20%;
}
.fa-trash {
  color:rgb(167, 67, 67);
}
.fa-trash:hover{
  cursor: pointer;
  color: #380a0a;
}
/*Animation*/
body {
  animation: transitionIn 1s;
}
@keyframes transitionIn {
  from {
    opacity:0;
    transform:rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
/* Media Queries */

@media (max-width: 1160px) {
  header {
    width: 80%;
  }
  
  .container {
    width: 80%;
    flex-direction: column;
  }
  
  .sidebar {
    width: 100%;
    margin-top: 20px;
  }
  
  #root {
    grid-template-columns: 1fr;
  }
}

/* Media query for 770px and lower */
@media (max-width: 770px) {
  header {
    width: 90%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: static;
    background-color: rgba(240, 248, 255, 0.458);
  }
  header .logo {
    display: none;
  }
  a img{
    position: static;
  }
  .container {
    width: 90%;
  }
  
  .sidebar {
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    background-color: rgba(240, 248, 255, 0.458);
  }
  .sidebar,h2{
    color: black;
  }
  .box {
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.458);
  }
  
  .foot {
    margin: 10px 0;
    padding: 5px 0;
    
  }
  button {
    width: 100%;
    height: 5vh;
    overflow: none;
  }
}

/* Media query for 630px and lower */
@media (max-width: 775px) {
  header {
    width: 60%;
    padding: 15px;
  }
  .cart {
    display: none;
  }
  .container {
    width: 60%;
  }
  
  .sidebar {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
  }
  
  .box {
    padding: 5px;
  }
  
  .foot {
    margin: 5px 0;
    padding: 2px 0;
  }
  
  .bottom {
    margin-top: 10px;
    width: 80px;
  }
}

/* Media query for 490px and lower */
@media (max-width: 490px) {
  header {
    width: 100%;
    padding: 10px;
  }
  
  .container {
    width: 100%;
  }
  
  .sidebar {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
  }
  
  .box {
    padding: 3px;
  }
  
  .foot {
    margin: 3px 0;
    padding: 1px 0;
  }
  
  .bottom {
    margin-top: 5px;
    width: 70px;
  }
}

/* Media query for 340px and lower */
@media (max-width: 380px) {
  header {
    padding: 8px;
  }
  
  .container {
    margin-bottom: 8px;
  }
  
  .sidebar {
    padding: 3px;
  }
  
  .box {
    padding: 2px;
  }
  
  .img-box {
    height: 120px;
  }
  
  .cart-item {
    padding: 5px;
    margin: 10px 5px;
  }
}
button {
  width: 100px;
  height: 5vh;
}

/* Media query for 270px and lower */
@media (max-width: 270px) {
  header {
    padding: 6px;
  }
  
  .container {
    margin-bottom: 6px;
  }
  
  .sidebar {
    padding: 2px;
  }
  
  .box {
    padding: 1px;
  }
  
  .img-box {
    height: 80px;
  }
  
  .cart-item {
    padding: 3px;
    margin: 8px 3px;
  }
}