/* Reset Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: linear 0.3s;
}

/* Global Styles */
body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
}
::-webkit-scrollbar {
  color: white;
  background-color: blanchedalmond;
  scroll-behavior: smooth;
  width: 0px;
  height: 0px;
}

/* Header Styles */
header {
  width: 100%;
  height: 10vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(71, 7, 7);
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.2);
}

.header-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo .pog {
  color: rgb(0, 0, 0);
  margin: 4%;
}

.logo img {
  width: 57px;
  position: static;
}
.contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: orange;
  border: 1px rgb(187, 124, 7) solid;
  border-radius: 5px;
  min-width: 70px;
  height: 22px;
  transition:  0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.contact a:hover {
  background-color: white;
  color: orange;
}
/*Maincontainer*/
.maincontanier {
  width: 100%;
  height: 100%;
  background-image:url('/images/1000_F_291733984_oP3xyguAxTNQ0AM7dzrDCUgcPbkG71Vl.jpg');
  background-size: contain;
  background-repeat: x y;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 5%;
  text-align: center;
}
/*Coffee to go*/
.cofetogo {
  width: 100%;
  height:100vh;
  border:solid rgba(184, 169, 169, 0.583) 3px;
  background-color:rgba(135, 66, 6, 0.799);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cofetogo img {
  width: 70%;
  height: auto;
  max-height: 50%;
  object-fit: contain;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.584);
  margin-top: 5%;
}

h2 {
  color: rgba(252, 168, 0, 0.784);
  text-decoration: underline;
  margin-bottom: 1%;
}
p {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 200%;
  color: #040101;
  margin-bottom: 20px;
  font-weight: bold;
  padding:1%;
}
/*Officecoffee*/
.officecoffe {
  width: 100%;
  height: 100vh;
  border: solid rgba(141, 141, 141, 0.604) 3px;
  background-color:rgba(135, 66, 6, 0.799);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}
.officecoffe img {
  width: 70%;
  height: auto;
  max-height: 50%;
  object-fit: contain;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(174, 171, 171, 0.743);
}
.comercials{
  width: 100%;
  height: 100vh;
  border: solid rgba(141, 141, 141, 0.604) 3px;
  background-color:rgba(135, 66, 6, 0.799);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}
.comercials img {
   width: 70%;
  height: auto;
  max-height: 50%;
  object-fit: contain;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(210, 203, 203, 0.989);
}
/*Moecoffeee*/
.morecofe{
  width: 100%;
  height: 100vh;
  border: solid rgba(141, 141, 141, 0.604) 3px;
  background-color:rgba(135, 66, 6, 0.799);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}
.morecofe img {
  width: 70%;
  height: auto;
  max-height: 50%;
  object-fit: contain;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.858);
}
/*Micromarket*/
.micromarket {
  width: 100%;
  height: 100vh;
  border: solid rgba(141, 141, 141, 0.604) 3px;
  background-color:rgba(135, 66, 6, 0.799);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}
.micromarket img {
  width: 70%;
  height: auto;
  max-height: 50%;
  object-fit: contain;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(245, 245, 245, 0.835);
}
/*Vending machine*/
.vendingmachin {
  width: 100%;
  height: 100vh;
  border: solid rgba(141, 141, 141, 0.604) 3px;
  background-color:rgba(135, 66, 6, 0.793);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}
.vendingmachin img {
  width: 70%;
  max-height: 37%;
  object-fit: contain;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.876);
}
/*MAP*/
.contactsmap {
  width: 100%;
}
.contactsmap2 {
  width: 100%;
}
/*Map-container*/
.contactcontainer {
  width: 100%;
  margin-top: 2%;
  display: flex;
  background-color: rgb(54, 54, 51);
  border: solid rgba(141, 141, 141, 0.604) 3px;
}
/*Footer*/
.likefoot {
  background-color: rgba(255, 255, 255, 0.878);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Phone-and-emails*/
.phone{
  width: 100%;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
}
.phone ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
a .likefoot{
  text-decoration: underline;
  color:black;
}
::marker {
  color: transparent;
}
/*Likefoot*/
/*MEDIA 1850PX*/
@media  (max-width: 1850px) {
  html {
    font-size: 75%;
  }
  .header-container {
    margin-left: 0;

  }
  .cofetogo img,
  .officecoffe img,
  .comercials img,
  .morecofe img,
  .micromarket img,
  .vendingmachin img {
    width: 60%;
    max-height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    font-size: 16px;
    line-height: 150%;
    overflow: scroll;
  }
}
/*MEDIA 1000PX*/
@media  (max-width: 1000px) {
  .header-container {
    margin-left: 0;
  }

  .cofetogo img,
  .officecoffe img,
  .comercials img,
  .morecofe img,
  .micromarket img,
  .vendingmachin img {
    width: 60%;
    max-height: 30%;
  }

  p {
    font-size: 16px;
    line-height: 150%;
  }
}
/*MEDIA 768px*/
@media  (max-width: 768px) {
  .cofetogo img,
  .officecoffe img,
  .comercials img,
  .morecofe img,
  .micromarket img,
  .vendingmachin img {
    width: 60%;
    max-height: 30%;
  }
  p {
    font-size: 14px;
    line-height: 150%;
  }
  .contactcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #333333;
  }
}
/*MEDIA 480px*/
@media  (max-width: 480px) {
  .cofetogo img,
  .officecoffe img,
  .comercials img,
  .morecofe img,
  .micromarket img,
  .vendingmachin img {
    width: 140%;
    max-height: 30%;
  }

  p {
    font-size: 14px;
    line-height: 140%;
  }
}
/*MEDIA 320px*/
@media  (max-width: 320px) {
  .cofetogo img,
  .officecoffe img,
  .comercials img,
  .morecofe img,
  .micromarket img,
  .vendingmachin img {
    width: 100%;
    max-height: 25%;
  }

  p {
    font-size: 12px;
    line-height: 130%;
  }
}
