/* Reset Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: linear 0.3s;
}

/* Global Styles */
body {
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
}

/* Header Styles */
header {
  width: 100%;
  height: 10vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(239, 239, 239);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.header-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: larger;
}

.burger-menu {
  height: 6vh;
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.b-bar1,
.b-bar2,
.b-bar3 {
  width: 40px;
  height: 5px;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo .pog {
  color: rgb(0, 0, 0);
  margin: 4%;
}

.logo img {
  width: 57px;
}

.contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: orange;
  border: 1px rgb(187, 124, 7) solid;
  border-radius: 20px;
  min-width: 130px;
  height: 42px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact a:hover {
  background-color: white;
  color: orange;
}

/* Main Styles */
main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(152, 72, 10, 0.362);
}

.bigcontainer1 {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallcontainer1 {
  width: 80%;
  height: 60vh;
  margin-top: 2%;
  gap: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  align-items: start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: scroll;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  margin-top: 30px;
  background-color: rgba(240, 192, 130, 0.374);
  width: 350px;
  min-height: 220px;
  cursor: pointer;
  box-shadow: 4px 7px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item1 a,
.item2 a,
.item3 a,
.item4 a,
.item5 a,
.item6 a {
  color: rgba(0, 0, 0, 0.849);
  font-weight: bold;
  font-size: 20px;
}

/* Some Text Styles */
.sometext {
  width: 100%;
  padding: 4% 0;
  text-align: center;
  background-color: rgba(29, 28, 28, 0.753);
  color: white;
}

.sometext h1 {
  font-size: 32px;
  font-weight: bold;
}

/* Second Page Styles */
.bigcontainer2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4% 0;
  background-color: rgba(152, 72, 10, 0.849);
  color: white;
}

.smallcontainer2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.smallcontainer2 img {
  border-radius: 20px;
}

.text2 {
  width: 50%;
  padding: 2%;
}

.text2 h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text2 ul {
  list-style-type: none;
}

.text2 ul li {
  margin-bottom: 10px;
}

.text2 ul li span {
  margin-right: 10px;
}

/* Our Clients Styles */
.ourclients {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4% 0;
  background-color: rgb(249, 249, 249);
}

.ourclients h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ourclients p {
  text-align: center;
  margin-bottom: 20px;
}

.forimage img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* Footer Styles */
footer {
  width: 100%;
  padding: 4% 0;
  background-color: rgb(239, 239, 239);
}

.bigcontainer3 {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 4%;
}

.fortheimage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1%;
}

.fortheimage h1 {
  font-size: 32px;
  font-weight: bold;
  margin-right: 10px;
}

.Links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.Last-links {
  color: rgba(0, 0, 0, 0.7);
  margin: 4px;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.Last-links:hover {
  color: rgba(0, 0, 0, 0.9);
}
.allright {
  width: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
@media only screen and (max-width: 770px) {
  /* Header Styles */
  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 20px;
  }

  .burger-menu {
    margin-bottom: 10px;
  }

  .logo {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .logo .pog {
    margin: 0 4px;
    font-size: 24px;
  }
  /* Main Styles */
  main {
    padding-top: 10vh;
  }

  .bigcontainer1 {
    height: auto;
    padding: 10px;
  }

  .smallcontainer1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
    overflow: scroll;
  }

  .item1,
  .item2,
  .item3,
  .item4,
  .item5,
  .item6 {
    margin-top: 10px;
    width: 100%;
    min-height: 120px;
  }

  .sometext {
    height: auto;
    padding: 10px;
  }

  /* Second Section Styles */
  .bigcontainer2 {
    padding: 10px;
  }

  .smallcontainer2 img {
    width: 100%;
    height: auto;
  }

  .text2 h1 {
    font-size: 26px;
    width: 225px;
  }

  ul {
    width: 225px;
    font-size: 11.5px;
  }

  /* Clients */
  .ourclients {
    margin-top: 5%;
    gap: 50px;
  }

  /* Footer Styles */

  .Links {
    width: 100%;
    flex-wrap: wrap;
  }

  .Last-links {
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width:290px){
  .smallcontainer2 img {
    width: 100%;
    height: auto;
  }

  .text2 h1 {
    font-size: 22px;
    width: 200px;
  }

  ul {
    width: 200px;
    font-size: 12.5px;
  }
}
@media only screen and (max-width:300px){
  *{
    width: auto;
    height: auto;
  }
}